body
{
    background-color: rgb(230, 220, 220);
    display: inline-block;
}
.outer
{
    display: flex;
}
.form
{
    height: 500px;
    width: 400px;
    background-color: white;
    margin: 100px auto;
    margin-left: 670px;
    display: block;
}
#email
{
    border: none;
    border-bottom: 1px grey solid;
    width: 300px;
    margin-left: 45px;
    margin-top: 50px;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 70%;
}
#password
{
    border: none;
    border-bottom: 1px grey solid;
    width: 280px;
    margin-left: 45px;
    margin-top: 10px;  
    padding-bottom: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 70%;
}
.para
{
    padding-top: 10px;
    margin-left: 45px;
    color: grey;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1
{
    height: 50px;
    width: 300px;
    margin-left: 45px;
    background-color: orangered;
    font-weight: bold;
    color: white;
    border: none;
}
.btn2
{
    height: 50px;
    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px  rgb(167, 166, 166) ;
    border: none;
    color: rgb(0, 110, 255);
    font-weight: bold;
    margin-left: 45px;
}
.heading
{
    margin-left: 180px;
    opacity: 60%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}
#link
{
    margin: auto;
    color: rgb(0, 110, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 80%;
    font-size: 12px;
    padding-left: 100px;
    margin-top: 50px;
}
.link1
{
    margin-top: 120px;
}
.box2
{
    height: 500px;
    width: 300px;
    position: absolute;
    margin:100px auto;
    margin-left: 370px;
    background-color:rgb(29, 108, 211) ;
}
#heading2
{
    padding-left: 30px;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph
{
    color: white;
    line-height: 5px;
    font-size: 15px;
    font-weight: bold;
    opacity: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.img
{
    margin: 100px 0px 0px 20px;
}
.box3
{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color:rgb(29, 108, 211) ;
}

#search
{
    height: 35px;
    width: 500px;
    margin-left: 250px;
    margin-top: 7px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(124, 123, 123);
}
.btn3
{
    height: 25px;
    width: 100px;
    background-color: white;
    border: none;
    color: rgb(0, 110, 255);
    font-weight: bold;
    margin-left: 245px;
}
#select
{
    border: none;
    background-color:rgb(29, 108, 211);
    margin-left: 20px;
    font-size: 15px;
    opacity: 90%;
    color: white;
}
.btn4
{
    background-color: rgb(0, 108, 211);
    border: none;
    color: white;
    opacity: 90%;
    font-weight: bold;
    margin-left: 10px;
}
.box4
{
    position: absolute;
    height: 40px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    padding: 0px 0px 0px 0px ;
    background-color: white;
}

